<div class="row g-3"> 
            <div class="col-lg-4 col-sm-6"> 
                <div class="project">
                <img src="/assets/sample1.png" alt="これは画像です">
                <div class="overlay">
                    <div>
                    <h4 class="text-white">Project Title</h4>
                    <h6 class="text-white">Website Design</h6>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="project">
                <img src="/assets/sample2.jpeg" alt="これは画像です">
                <div class="overlay">
                    <div>
                    <h4 class="text-white">Project Title</h4>
                    <h6 class="text-white">Website Design</h6>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="project">
                <img src="/assets/sample3.jpeg" alt="これは画像です">
                <div class="overlay">
                    <div>
                    <h4 class="text-white">Project Title</h4>
                    <h6 class="text-white">Website Design</h6>
                    </div>
                </div>
                </div>
            </div>
            </div>