<%# CSS・・・assets/stylesheets/style.css %>

<body>
  <div class="hero vh-100 d-flex align-items-center" id="home">
    <div class="container">
    <div class="row">
        <div class="col-lg-7 mx-auto text-center">
        <h1 class="display-4 text-white">~食をより楽しく~</h1>
        <p class="text-white my-3">
            料理を作る時間を1日の楽しみに。
            自分が作った料理をWeb上で公開してコミュニケーションを
            取る事ができるサイトです。
        </p> 
        
            <div class="row g-3"> 
            <div class="col-lg-4 col-sm-6"> 
                <div class="project">
                <img src="/assets/sample1.png" alt="これは画像です">
                <div class="overlay">
                    <div>
                    <h4 class="text-white">Project Title</h4>
                    <h6 class="text-white">Website Design</h6>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="project">
                <img src="/assets/sample2.jpeg" alt="これは画像です">
                <div class="overlay">
                    <div>
                    <h4 class="text-white">Project Title</h4>
                    <h6 class="text-white">Website Design</h6>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="project">
                <img src="/assets/sample3.jpeg" alt="これは画像です">
                <div class="overlay">
                    <div>
                    <h4 class="text-white">Project Title</h4>
                    <h6 class="text-white">Website Design</h6>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
  </div>

  <!-- Services section -->
  <section id="services">
    <div class="container">
    <div class="row mb-4">
        <div class="col-md-8 mx-auto text-center">
        <h6 class="text-primary">Service</h6>
        <h1>Bon vivant . Service</h1>
        </div>
    </div>

    <div class="row g-4">
        <div class="col-lg-4 col-sm-6">
        <div class="service card-effect">
            <div class="iconbox">
            <i class="bx bxs-comment-detail"></i>
            </div>
            <h5 class="mt-4 mb-2">レシピ投稿</h5>
            <p>
            自身のレシピを投稿する事ができます。
            写真を載せることも可能です。
            </p>
        </div>
        </div>
        <div class="col-lg-4 col-sm-6">
        <div class="service card-effect">
            <div class="iconbox">
            <i class="bx bx-dna"></i>
            </div>
            <h5 class="mt-4 mb-2">いいね機能</h5>
            <p>
            あなたの気に入ったレシピをいいねすることができます。
            </p>
        </div>
        </div>
        <div class="col-lg-4 col-sm-6">
        <div class="service card-effect">
            <div class="iconbox">
            <i class="bx bx-border-all"></i>
            </div>
            <h5 class="mt-4 mb-2">コメント機能</h5>
            <p>
            あなたの気に入ったレシピに対してコメントをする事ができます。
            </p>
        </div>
    </div>
    </div>
  </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"></script>
</body>