<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bon vivant</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" 
     integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheets" href="style.css" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>  
  </head>

<body>
  <div class="hero vh-100 d-flex align-items-center" id="home">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mx-auto text-center">
           <div class="top_title">
             <h1 class="display-4 text-white">Welcome to <br> Bon vivant!</h1>
             <a href="/users/sign_up" class="btn btn-primary me-2">新規登録</a>
             <a href="/users/sign_in" class="btn btn-primary me-2">ログイン</a>
           </div>
          </div>
        </div>
      </div>
    </div>

        <div class="hero vh-100 d-flex align-items-center" id="home">
          <div class="container">
            <div class="row">
              <div class="col-lg-9 mx-auto text-center">
                <h1 class="display-4 text-white">~食をより楽しく~</h1>
                <p class="text-white my-3">
                  料理を作る時間を1日の楽しみに。
                  自分が作った料理をWeb上で公開してコミュニケーションを
                  取る事ができるサイトです。
                </p> 
                  <div class="row g-3"> 
                    <div class="col-lg-4 col-sm-6"> 
                      <div class="project">
                        <img src="/assets/sample1.png" alt="これは画像です" >
                        <div class="overlay">
                          <div>
                            <h4 class="text-white">Sample</h4>
                            <h6 class="text-white">Sample image</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                      <div class="project">
                        <img src="/assets/sample2.jpeg" alt="これは画像です">
                        <div class="overlay">
                          <div>
                            <h4 class="text-white">Smple</h4>
                            <h6 class="text-white">Sample image</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                      <div class="project">
                        <img src="/assets/sample3.jpeg" alt="これは画像です">
                        <div class="overlay">
                          <div>
                            <h4 class="text-white">Sample</h4>
                            <h6 class="text-white">Sample image</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Services section -->
        <section id="services">
          <div class="container">
            <div class="row mb-4">
              <div class="col-md-8 mx-auto text-center">
                <h6 class="text-primary">Service</h6>
                <h1>Bon vivant . Service</h1>
              </div>
            </div>

            <div class="row g-4">
              <div class="col-lg-4 col-sm-6">
                <div class="service card-effect">
                  <div class="iconbox">
                    <i class="bx bxs-comment-detail"></i>
                  </div>
                  <h5 class="mt-4 mb-2">レシピ投稿</h5>
                  <p>
                    自身のレシピを投稿する事ができます。
                    写真を載せることも可能です。
                  </p>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="service card-effect">
                  <div class="iconbox">
                    <i class="bx bx-time-five"></i>
                  </div>
                  <h5 class="mt-4 mb-2">レシピ更新</h5>
                  <p>
                    レシピを更新すると常に最新の更新日が表示され日時を確認することができます。
                  </p>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="service card-effect">
                  <div class="iconbox">
                    <i class="bx bx-cog"></i>
                  </div>
                  <h5 class="mt-4 mb-2">レシピ編集</h5>
                  <p>
                    あなた自身のレシピはいつでも編集・削除する事ができます。
                  </p>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="service card-effect">
                  <div class="iconbox">
                    <i class="bx bxs-comment-detail"></i>
                  </div>
                  <h5 class="mt-4 mb-2">コメント機能</h5>
                  <p>
                    あなたの気に入ったレシピに対してコメントをする事ができます。
                  </p>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="service card-effect">
                  <div class="iconbox">
                    <i class="bx bx-happy-heart-eyes"></i>
                  </div>
                  <h5 class="mt-4 mb-2">いいね機能</h5>
                  <p>
                    あなたの気に入ったレシピをいいねすることができます。
                  </p>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                <div class="service card-effect">
                  <div class="iconbox">
                    <i class="bx bxs-group"></i>
                  </div>
                  <h5 class="mt-4 mb-2">フォロー機能</h5>
                  <p>
                    あなたが気になった投稿者をいつでもフォローする事ができます。
                  </p>
                </div>
              </div>
          </div>
        </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"></script>

  </body>
</html>